<%- include("_header") -%>

<h1>Sobre Snomed CT</h1>

<p>Snomed-CT es la terminología clínica integral, multilingüe y codificada de mayor amplitud, precisión e importancia desarrollada en el mundo. ...</p>

<%- include("_footer") -%>
